<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GroundTruth</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="vuetify/dist/vuetify.css" rel="stylesheet" type="text/css"></link>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>

<body>
  <v-app id="app">
    <v-navigation-drawer app v-model="drawer" fixed :mini-variant.sync="mini">
      <v-toolbar flat class="transparent" >
        <v-list class="pa-0">
          <v-list-tile avatar tag="div">
            <v-list-tile-avatar>
              <% if (typeof avatarimage !== "undefined" && avatarimage != null) { %> <img src="<%= encodeURI(avatarimage) %>" alt="" title="<%= user.name.first +' '+ user.name.last %>" /> <% } %>
            </v-list-tile-avatar> 
            <v-list-tile-content>
              <v-list-tile-title><%= user.name.first %> <%= user.name.last %></v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title" :to="item.to">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-bottom-nav  :value="true" absolute class="transparent">
            <%if (user.canAccessKeystone) {%>
              <v-btn flat href="/keystone" title="Administrative interface"> 
                <v-icon>build</v-icon>
              </v-btn>
            <% } %>
            <v-btn flat href="/signout" title="Sign Out"> 
              <v-icon>exit_to_app</v-icon>
            </v-btn>
          </v-bottom-nav>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app class="teal darken-2" dark fixed>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>GroundTruth</v-toolbar-title>
      </v-toolbar>
    <v-content>
      <v-container fluid >
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>




  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/lv.js"></script>
  <script src="vue/dist/vue.min.js"></script>
  <script src="vuetify/dist/vuetify.min.js"></script>
  <script src="vue-router/dist/vue-router.min.js"></script>
  <link rel="stylesheet" href="openlayers/dist/ol.css" type="text/css">
  <script src="openlayers/dist/ol.js" type="text/javascript"></script>
  <script src="proj4/dist/proj4.js" type="text/javascript"></script>
  
  <script>
    var EventBus = new Vue();
  </script>
  <script src="js/utils.js"></script>
  <% include ../mixins/datepicker %>
  <% include home %>
    <% include maps %>
    <% include runs %>
    <% include create_orienteering_map %>
      <script src="js/routes.js"></script>
      <script>   
        new Vue({
          router: router,
          el: '#app',
          data: () => {
              let tmp = {
                drawer: null,
                  mini: false,
                  items: [
                    { icon: 'home', title: 'Home', to: '/' },
                    { icon: 'show_chart', title: 'Courses', to: '/courses' },  
                    { icon: 'directions_run', title: 'Runs', to: '/runs' },
                  ],
                  title: 'GroundTruth',
                  render: h => h(App)
              }
          },
          mounted() {
              document.body.style = "display: auto";
          },
          created(){
            this.$vuetify.theme = {
              primary: '#008577',
              secondary: '#00574B',
              accent: '#d8901b',
              error: '#b71c1c'
            }
          }
        });
      </script>
</body>

</html>