
extends ../layouts/default

block css
	style(type="text/css").
		body, html {
			height: 100%;
		}

		.parallax {
			/* The image used */
			background-image: url('images/background.jpg');

			/* Full height */
			height: 100%; 

			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.page-intro h3 {
			font: normal 90px/1.4em "Roboto",Helvetica,Arial,sans-serif;
			text-shadow:
			-1px -1px 0 #000,  
				1px -1px 0 #999,
				-1px 1px 0 #999,
				1px 1px 0 #999;
		}
		.page-intro {color: #EBFFFE; 
			margin-top: 10%;
		}
		.page-intro a {
			font-weight: bold;
			color: white;
			text-decoration: none;
		}
		.about {
			color: #a9512d;
			letter-spacing: 0.05em;
			font: normal 24px 'Roboto', sans-serif;
		}
		.about_white {
			color: #eeeeee;
			letter-spacing: 0.05em;
			font: normal 24px 'Roboto', sans-serif;
		}

block content
	.parallax
		.container: .row
			.col-md-6.col-md-offset-3
				.page-intro
					h3.font_3(style="text-align:center;") GroundTruth
					h1 Sign in
					.page-content
						+auth-forms({ modal: false, initial: 'signin' })
				br
	div(style="height:198px;background-color: #EBFFFE; font-size:36px") 
		.about: .container-fluid
			.row 
				.col-md-4(style="margin: 36px;") GroundTruth is an application..
					
				.col-md-4.col-md-offset-3
					img.thumbnail(src="images/routeplanning.jpg", style="margin-top: -198px;")
	.parallax
		.container-fluid
			.row 
				.col-md-3.col-md-offset-1
					img(src="images/screenshot1.png", style="max-width:100%;max-height:60%;")
				.col-md-4.col-md-offset-1.about_white
					img(alt='Get it on Google Play', src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png', style="max-height: 80px")

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
