<script type="text/x-template" id="datepicker">
    <v-menu lazy :close-on-content-click="true" v-model="menu" transition="scale-transition" offset-y full-width :nudge-left="40"
        max-width="290px">
        <v-text-field slot="activator" :label="label" v-model="formatted" prepend-icon="event" readonly></v-text-field>
        <v-date-picker v-model="model" scrollable v-on:click="save()" first-day-of-week=1 locale="lv-lv">
        </v-date-picker>
    </v-menu>
</script>
<script src="js/datepicker.js"></script>