extends ../../layouts/default
include ../../mixins/flash-messages

block content
	.container: .row
		form(method='post', autocomplete='off', novalidate).profile-form
			input(type='hidden', name='action', value='confirm.details')
			//- h3.profile-form__heading Confirm Details
			p.lead.mb-2 Thanks for joining! Please confirm your details:
			+flash-messages(messages)
			//- TODO Gravatar / Optional image
			.form-group.row
				.col-xs-6: input(type='text' name='name.first' placeholder='First Name (required)' value=authUser.name.first).form-control
				.col-xs-6: input(type='text' name='name.last' placeholder='Last Name (required)' value=authUser.name.last).form-control
			.form-group.row
				.col-xs-6: input(type='email' name='email' placeholder='Email (required)' value=authUser.email).form-control.form-control-labelled
				.col-xs-6: input(type='text' name='website' placeholder='Website (optional)' value=authUser.website).form-control.form-control-labelled
			.form-group
				button(type='submit').btn.btn-primary.btn-block That all checks out, let's go &rarr;
