  <% if(messages) {%>
     <% messages.info.forEach(function(message) { %>
        <div class="alert alert-info">
           <% if(typeof message == 'object') {%>
          <%= typeof message.title !='undefined' ? '<strong>'+message.title+'</strong>': '' %>
           <%= typeof message.description !='undefined' ? item.description: '' %>
             <% } else { %>
               <%= message %>
               <% } %>
        </div>
      <%  }) %>
        
      <% messages.success.forEach(function(message) { %>
        <div class="alert alert-success">
           <% if(typeof message == 'object') {%>
          <%= typeof message.title !='undefined' ? '<strong>'+message.title+'</strong>': '' %>
           <%= typeof message.description !='undefined' ? item.description: '' %>
             <% } else { %>
               <%= message %>
               <% } %>
        </div>
      <%  }) %>

        
       <% messages.error.forEach(function(message) { %>
        <div class="alert alert-danger">
           <% if(typeof message == 'object') {%>
          <%= typeof message.title !='undefined' ? '<strong>'+message.title+'</strong>': '' %>
           <%= typeof message.description !='undefined' ? item.description: '' %>
             <% } else { %>
               <%= message %>
               <% } %>
        </div>
      <%  }) %>
        
                
       <% messages.warning.forEach(function(message) { %>
        <div class="alert alert-warning">
           <% if(typeof message == 'object') {%>
          <%= typeof message.title !='undefined' ? '<strong>'+message.title+'</strong>': '' %>
           <%= typeof message.description !='undefined' ? item.description: '' %>
             <% } else { %>
               <%= message %>
               <% } %>
        </div>
      <%  }) %>
        
<% } %>