.social-signup-buttons
	//.signup-button: a(href='/auth/github?target=/' , title='Sign in with Github').btn.btn-link-github.btn-block
		span.entypo-social.entypo-github
		span.signup-button__text  Github 
	
	
	.signup-button: a(href='/auth/facebook?target=/' , title='Sign in with Facebook').btn.btn-link-facebook.btn-block
		span.entypo-social.entypo-s-facebook
		span.signup-button__text  with Facebook
	
	//.signup-button: a(href='/auth/google?target=/', title='Sign in with Google').btn.btn-link-google.btn-block
		span.entypo-social.entypo-google
		span.signup-button__text  Google
	
	//.signup-button: a(href='/auth/twitter?target=/' , title='Sign in with Twitter').btn.btn-link-twitter.btn-block
		span.entypo-social.entypo-twitter
		span.signup-button__text  Twitter
