<template>
  <div>
    <v-layout row>
      <v-flex xs12 sm9>
        <MainMap :events="items" @change="filter()" @markerClicked="scrollToObservation"/>
      </v-flex>
      <v-flex xs12 sm3 ml-2>
        <v-switch :label="`Show public events`" v-model="filters.showPublic"></v-switch>
        <v-switch :label="`Only in my areas`" v-model="filters.inMyAreas"></v-switch>
        <div  v-if="typeof globalStore != 'undefined'">
          <v-switch v-for="type in globalStore.observationTypes" :label="type.name" v-model="type.selected"></v-switch>
        </div>
      </v-flex>
    </v-layout>

    <v-flex xs12 sm9>
      <h1>{{globalStore.siteConfig ? globalStore.siteConfig.observations_name : 'Observations'}}</h1>
    </v-flex>

    <v-layout row mt-2 v-for="props in items">
      <v-flex xs12 sm9>
        <v-card :id="`observation-${props._id}`">
          <v-card-title
            primary-title
            :class="props.highlighted ? 'indigo darken-2 white--text' : undefined"
          >
            <div class="text-md-left">
              <div class="subtitle grey--text">
                <v-avatar
                  v-if="typeof props.user !== 'undefined' && typeof props.user.avatar !== 'undefined' && props.user.avatar != null"
                >
                  <img :src="props.user.avatar" alt :title="props.user.nick">
                </v-avatar>
                {{ formatDateTime(props.date) }} {{ props.type }} {{ typeof props.user != 'undefined' && props.user.nick ? 'by ' + props.user.nick : 'by anonymous' }}
              </div>
              <div class="title ml-1">{{props.highlighted ? 'blue' : null}}{{props.name}}</div>
              <br>
            </div>
          </v-card-title>

          <v-layout row>
            <v-flex xs12 :sm6="props.image">
              <v-img
                v-show="typeof props.screenshot != 'undefined' && props.screenshot!=''"
                :src="props.screenshot"
                :height="props.expanded ? 'auto': '200px'"
              ></v-img>
            </v-flex>
            <v-flex xs12 :sm6="props.screenshot">
              <v-img
                v-show="typeof props.image != 'undefined' && props.image!=''"
                :src="props.image"
                :height="props.expanded ? 'auto': '200px'"
              ></v-img>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 class="text-md-left" ml-2>{{props.description}}</v-flex>
          </v-layout>
          <ObservationMap :observation="props" v-if="props.imageryVisible"/>
          <v-card-actions>
            <v-flex xs4 sm4 md3 v-if="voteTypeBoolean(props)">
              <v-btn flat @click="confirm(props)" :title="'Confirmed by ' + props.confirmedCount">
                <v-icon :color="props.confirmed ? 'blue' : 'blue lighten-4'">exposure_plus_1</v-icon>
              </v-btn>
              <v-btn flat @click="deny(props)" :title="'Denied by ' + props.deniedCount">
                <v-icon :color="props.denied ? 'red' : 'red lighten-4'">exposure_neg_1</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs4 sm4 md4 v-if="voteTypeNumeric(props)">
              <v-text-field
                v-model="props.numericVote"
                append-outer-icon="send"
                box
                type="number"
                clear-icon="mdi-close-circle"
                clearable
                single-line
                label="Observed value"
                @click:append-outer="sendNumericVote(props)"
              ></v-text-field>
            </v-flex>
            <v-btn
              flat
              color="purple"
              @click="props.imageryVisible = !props.imageryVisible"
            >Toggle map</v-btn>

            <v-btn flat fab small @click="editObservation(props)" v-if="iAmOwner(props)">
              <v-icon>edit</v-icon>
            </v-btn>

            <v-btn flat fab small @click="deleteObservation(props)" v-if="iAmOwner(props)">
              <v-icon>delete</v-icon>
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn icon @click="toggleCommentPanel(props)">
              <v-icon>{{ props.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-slide-y-transition v-if="props.expanded">
            <Commenter :observation="props"/>
          </v-slide-y-transition>
        </v-card>
        <EditObservation
          v-if="props.editVisible"
          @close="props.editVisible = false"
          @save="filter()"
          :position="null"
          :wkt="null"
          :observation="props"
        />
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import EditObservation from "@/components/EditObservation.vue";
import ObservationMap from "@/components/ObservationMap.vue";
import MainMap from "@/components/MainMap.vue";
import Commenter from "@/components/Commenter.vue";
import axios from "axios";
import { default as datesMixin } from "../mixins/dates";
import { EventBus, globalStore } from "@/main";

export default {
  name: "observations",
  mixins: [datesMixin],
  components: {
    ObservationMap,
    MainMap,
    Commenter,
    EditObservation
  },
  data: () => {
    return {
      filters: { showPublic: true, inMyAreas: true },
      types: [{name:null}],
      globalStore: globalStore,
      items: [
        {
          expanded: false,
          message: null,
          confirmed: false,
          highlighted: false,
          center: { geo: [0, 0] }
        }
      ]
    };
  },
  methods: {
    filter() {
      this.selected = [];
      axios
        .get("/api/observations/list_home")
        .then(response => {
          this.items = response.data.map(item =>
            Object.assign(item, {
              expanded: false,
              imageryVisible: false,
              highlighted: false,
              message: null,
              comments: [],
              editVisible: false
            })
          );
        })
        .catch(error => (this.items = []));
    },
    scrollToObservation(e) {
      this.items
        .filter(item => item.highlighted)
        .forEach(item => {
          item.highlighted = false;
        });
      this.$scrollTo("#observation-" + e._id);
      this.items
        .filter(item => item._id == e._id)
        .forEach(item => {
          item.highlighted = true;
        });
    },
    formatTime(secs) {
      return utils.hhmmss(secs);
    },
    sendNumericVote(props) {
      debugger;
      axios
        .post("/api/votes/create", {
          observation: props._id,
          numericValue: parseFloat(props.numericVote)
        })
        .then(response => {})
        .catch(error => console.error(error));
    },
    confirm(props) {
      axios
        .post("/api/votes/create", { observation: props._id, value: 1 })
        .then(response => {
          props.confirmed = true;
        })
        .catch(error => console.error(error));
    },
    deny(props) {
      axios
        .post("/api/votes/create", { observation: props._id, value: -1 })
        .then(response => {
          props.denied = true;
        })
        .catch(error => console.error(error));
    },
    iAmOwner(observation) {
      if (typeof globalStore.user == "undefined") return false;
      if (globalStore.user.isAdmin) return true;
      if (typeof observation.user == "undefined") return false;
      if (observation.user._id == globalStore.user._id) return true;
      return false;
    },
    editObservation(observation) {
      observation.editVisible = true;
    },
    deleteObservation(observation) {
      axios
        .get(`/api/observations/${observation._id}/remove`)
        .then(response => {
          if (response.data.success) {
            this.items.splice(this.items.indexOf(observation), 1);
          }
        })
        .catch(error => (this.items = []));
    },
    toggleCommentPanel(props) {
      props.expanded = !props.expanded;
    },
    voteTypeBoolean(observation) {
      return (
        typeof observation.observationType == "undefined" ||
        observation.observationType.voteType == "boolean"
      );
    },
    voteTypeNumeric(observation) {
      return (
        typeof observation.observationType != "undefined" &&
        observation.observationType.voteType == "numerical"
      );
    }
  },
  mounted() {
    this.filter();
    EventBus.$on("config-changed", globalStore => {
      this.globalStore = globalStore
    });
  }
};
</script>
