<template>
<div>
    <v-toolbar style="height: 60px" class="grey lighten-2" light extended>
        <v-btn fab class="red lighten-1" left small v-on:click="remove">
            <v-icon>remove</v-icon>
        </v-btn>
    </v-toolbar>
    
    <v-data-table v-bind:headers="headers" :items="items" v-bind:search="search" :pagination.sync="pagination"  v-model="selected" select-all item-key="_id"
        class="elevation-1">
        <template slot="items" slot-scope="props">
            <tr :active="props.selected" @click="props.selected = !props.selected">
                <td >
                    <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                </td>
                <td>
                    {{ props.item.name || 'untitled' }}
                </td>
                <td>
                    {{ formatDateTime(props.item.date)}}
                </td>
            </tr>
        </template>
    </v-data-table>
</div>
</template>

<script>
import axios from 'axios'
import {default as datesMixin} from '../mixins/dates'

export default {
  name: 'observations',
  mixins: [datesMixin],
  data: () => {
        return {
            search: '',
            pagination: { sortBy: 'date', page: 1, rowsPerPage: 25, descending: true },
            selected: [],
            headers: [
                { text: 'Name', value: 'name', align: 'left' },
                { text: 'Date', value: 'date', align: 'left' }
            ],
            items: [
            ]
        }
    },
    computed: {
    },
    methods: {
        filter() {
            this.selected = [];
            axios.get('/api/observations/list')
                .then(response => this.items = response.data)
                .catch(error => this.items = [])
        },
        remove() {
            if(confirm('Really delete?')){
                var queries = [];
                this.selected.forEach(function (element) {
                    queries.push(axios.get(`/api/observations/${element._id}/remove`))
                }, this);
                axios.all(queries)
                    .then(axios.spread(() => this.filter()));
            }
        }
    },
    mounted() {
        this.filter();
    }
}
</script>
