<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
    <v-text-field v-model="password" type="password" label="Password" required></v-text-field>
    <v-text-field v-model="password2" type="password" label="Confirm password" required></v-text-field>
    <v-text-field v-model="nick" label="Nickname"></v-text-field>
    <v-text-field v-model="name" label="Name"></v-text-field>
    <v-text-field v-model="surname" label="Surname"></v-text-field>
    <v-btn block color="primary" large @click="signin()">Sign up</v-btn>
  </v-form>
</template>

<script>
import axios from "axios";
import router from "../router";
import { EventBus } from "../main";

export default {
  data: () => ({
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ],
    password: "",
    password2: ""
  }),
  methods: {
    signin() {
      if (this.password != this.password2) return;
      axios
        .post("/api/auth/signup", {
          email: this.email,
          password: this.password
        })
        .then(response => {
          if (response.data.result === true) {
            router.push({ path: "/signin" });
          }
        })
        .catch(error => false);
    }
  }
};
</script>
