<template>
  <v-form ref="form" lazy-validation>
    <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
    <v-text-field v-model="password" type="password" label="Password" required></v-text-field>
    <v-btn @click="signin()">Sign in</v-btn>
    <br>
    <a href="/signup">Dont have an account? Register here</a>
  </v-form>
</template>

<script>
import axios from "axios";
import router from "../router";
import { EventBus } from "../main";

export default {
  data: () => ({
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ],
    password: ""
  }),
  methods: {
    signin() {
      axios
        .post("/api/auth/signin", {
          email: this.email,
          password: this.password
        })
        .then(response => {
          if (response.data.result === true) {
            axios
              .get("/api/auth/authorized")
              .then(response => {
                if (response.data.result === true) {
                  router.push({ path: "/" });
                  EventBus.$emit("authorization-changed", response.data);
                }
              })
              .catch(error => false);
          }
        })
        .catch(error => false);
    }
  }
};
</script>
