<template>
<div>
    <v-list dense two-line >
    <template v-for="(item) in comments">
        <v-list-tile :key="item._id" avatar>
        <v-list-tile-avatar v-if="item.user.avatar != null">
            <img :src="item.user.avatar">
        </v-list-tile-avatar>

        <v-list-tile-content>
            <v-list-tile-sub-title
            v-html="formatDateTime(item.date) + ' ' + item.user.name"
            ></v-list-tile-sub-title>
            <v-list-tile-title v-html="item.content"></v-list-tile-title>
        </v-list-tile-content>
        </v-list-tile>
    </template>
    </v-list>

    <v-card-text>
    <v-text-field
        v-model="comment"
        append-outer-icon="send"
        box
        clear-icon="mdi-close-circle"
        clearable
        label="Comment"
        type="text"
        @click:append-outer="sendComment()"
        @click:clear="clearComment()"
    ></v-text-field>
    </v-card-text>
</div>
</template>

<script>
import axios from "axios";
import { default as datesMixin } from "../mixins/dates";

export default {
  name: "Commenter",
  mixins: [datesMixin],
  props: { observation: Object },
  data: () => {
    return {
      comment: '',
      comments: []
    }
  },
  methods: {
    fillComments() {
      axios.get("/api/comments/list/" + this.observation._id)
        .then(response => {
          this.comments = response.data;
        })
        .catch(error => (this.comments = []));
    },
    sendComment() {
      axios
        .post("/api/comments/create", {
          observation: this.observation._id,
          content: this.comment
        })
        .then(response => {
          this.comment = "";
          this.fillComments();
        })
        .catch(error => console.error(error));
    },    
    clearComment() {
      this.comment='';
    }
  },
  mounted(){
    this.fillComments();
  }
}
</script>