<template>
  <div>
    <v-layout row>
      <v-flex xs1>
        <v-icon style="cursor: pointer" @click="show">event</v-icon>
      </v-flex>
      <v-flex xs11>
        <v-text-field
          :label="label"
          @click="show"
          v-model="formatted"
          @input="formatedChanged"
          :required="required"
          :rules="rules"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :position-x="x"
      :position-y="y"
      transition="scale-transition"
      offset-y
      full-width
      :nudge-left="40"
      max-width="290px"
    >
      <v-date-picker
        v-model="model"
        :locale="mapLocale()"
        v-on:input="hide()"
        scrollable
        v-on:click=" save()"
        first-day-of-week="1"
      ></v-date-picker>
    </v-menu>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: "DatePicker",
  props: ["value", "label", "locale", "rules", "required"], //initial value and label
  data: function() {
    return { menu: false, model: this.value, x: 0, y: 0 };
  },
  template: "#datepicker",
  computed: {
    formatted: function() {
      if (moment(this.model).isValid())
        return moment(this.model).format("DD.MM.YYYY");
      else return "";
    }
  },
  watch: {
    model: {
      handler: function(value) {
        this.$emit("input", this.model);
      }
    },
    value: function(value) {
      this.model = this.value;
    }
  },
  methods: {
    mapLocale() {
      if (this.locale == "lv") return "lv-lv";
    },
    formatedChanged(e) {
      if (e.length != 10) return;
      var parsed_date = moment.utc(e, "DD.MM.YYYY");
      if (parsed_date.isValid()) {
        this.model = parsed_date.format("YYYY-MM-DD");
        this.$emit("input", this.model);
      }
    },
    show(e) {
      this.menu = !this.menu;
      this.x = e.clientX;
      this.y = e.clientY;
    },
    hide() {
      this.menu = false;
    }
  },
  created() {}
};
</script>