<template>
  <v-card>
    <v-toolbar card color="pink" dark>
      <v-btn fab small flat @click="hideMe()">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>Compose</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-form>
      <v-layout row wrap>
        <v-flex xs6>
          <v-text-field label="Position" v-model="markerPosition" full-width></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs4>
          <v-select
            :items="types"
            v-model="type"
            label="Type"
            class="input-group--focused"
            item-value="_id"
            item-text="name"
          ></v-select>
        </v-flex>
        <v-flex xs4>
          <DatePicker v-bind:value="date" label="Date" v-on:input="(value) => {date = value;}"/>
        </v-flex>
        <v-flex xs4>
          <v-select
            :items="scopes"
            v-model="scope"
            label="Visibility"
            class="input-group--focused"
            item-value="value"
            item-text="text"
          ></v-select>
        </v-flex>
      </v-layout>
      <v-text-field label="Title" v-model="name" single-line full-width hide-details></v-text-field>
      <v-divider></v-divider>
      <v-textarea v-model="description" label="Description" full-width></v-textarea>
      <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
        <img :src="imageUrl" height="150" v-if="imageUrl">
        <v-text-field
          label="Select Image"
          @click="pickFile"
          v-model="imageName"
          prepend-icon="attach_file"
        ></v-text-field>
        <input
          type="file"
          style="display: none"
          ref="image"
          accept="image/png, image/jpeg"
          @change="onFilePicked"
        >
      </v-flex>
    </v-form>
    <v-btn
      @click="save()"
      large
      :color="saveResult === true ? 'green' : (saveResult === false ? 'red' : 'primary')"
      block
    >Save</v-btn>
  </v-card>
</template>

<script>
import axios from "axios";
import { setTimeout } from "timers";
import { EventBus, globalStore } from "../main";
import DatePicker from "@/components/DatePicker.vue";

export default {
  name: "EditObservation",
  props: { position: Array, wkt: String, observation: Object },
  data: () => {
    return {
      id: null,
      name: "",
      description: "",
      type: "",
      scope: "public",
      saveResult: null,
      date: null,
      type: null,
      types: globalStore.observationTypes,
      scope: null,
      scopes: [
        { value: "me", text: "Me" },
        { value: "friends", text: "Friends" },
        { value: "public", text: "Public" }
      ],
      imageName: "",
      imageUrl: "",
      imageFile: "",
      screenshot: null
    };
  },
  components: {
    DatePicker
  },
  computed: {
    markerPosition() {
      if (typeof this != "undefined") return this.position;
    },
    markerWkt() {
      if (typeof this != "undefined") return this.wkt;
    }
  },
  methods: {
    pickFile() {
      this.$refs.image.click();
    },
    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          this.imageFile = files[0]; // this is an image file that can be sent to server...
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    },
    save() {
      axios
        .post(`/api/observations/${this.id ? `${this.id}/update` : `create`}`, {
          name: this.name,
          description: this.description,
          center: { geo: this.markerPosition },
          wkt: this.markerWkt,
          observationType: this.type,
          date: this.date,
          scope: this.scope,
          image: this.imageUrl,
          screenshot: this.screenshot
        })
        .then(response => {
          this.saveResult = true;
          setTimeout(() => {
            this.hideMe();
            this.$emit("save");
          }, 3000);
        })
        .catch(error => {
          console.error(error);
          this.saveResult = false;
        });
    },
    hideMe() {
      this.$emit("close");
    }
  },
  mounted() {
    EventBus.$on("map-thumbnail-generated", url => {
      this.screenshot = url;
    });
    if (this.observation) {
      this.id = this.observation._id;
      this.description = this.observation.description;
      this.name = this.observation.name;
      this.type = this.observation.observationType._id;
      this.date = this.observation.date;
      this.scope = this.observation.scope;
    }
  }
};
</script>

<style>
</style>
