<template>
  <div>
    <v-layout row mt-1 wrap>
      <v-flex xs12>
        <v-card>
          <v-card-text class="pa-0" v-resize="updateMapSize">
            <div :id="getMapId()" class="map"></div>
            <v-btn absolute dark fab bottom right color="pink" @click="startEdit()">
              <v-icon>add</v-icon>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row mt-2>
      <v-flex xs12>
        <EditObservation
          v-if="editVisible"
          @close="stopEdit()"
          @save="change()"
          :position="featurePosition"
          :wkt="featureWkt"
        />
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import EditObservation from "@/components/EditObservation.vue";

import "ol/ol.css";
import { Map, View } from "ol";
import TileLayer from "ol/layer/Tile";
import { Image as ImageLayer } from "ol/layer.js";
import Point from "ol/geom/Point";
import OSM from "ol/source/OSM";
import Feature from "ol/Feature";
import { fromLonLat, toLonLat, transform } from "ol/proj.js";
import VectorLayer from "ol/layer/Vector.js";
import VectorSource from "ol/source/Vector.js";
import { ImageArcGISRest } from "ol/source.js";
import BingMaps from "ol/source/BingMaps.js";
import WKT from "ol/format/WKT.js";
import Select from "ol/interaction/Select.js";
import { click, pointerMove } from "ol/events/condition.js";
import { Icon, Style } from "ol/style.js";
import { EventBus, globalStore } from "../main";
import DrawManager from "@/components/Draw.js";

export default {
  name: "MainMap",
  components: { EditObservation },
  props: {
    events: Array
  },
  data: () => {
    return {
      editVisible: false,
      featurePosition: null,
      globalStore: globalStore
    };
  },
  computed: {
    eventFeatures() {
      if (typeof this != "undefined") return this.events;
    }
  },
  watch: {
    eventFeatures() {
      this.eventSource.clear();

      function getMarkerIcon(event) {
        if (event.observationType && event.observationType.image)
          return "images/markers/" + event.observationType.image;
        else return "images/markers/gray.png";
      }
      var features = this.events
        .filter(
          event =>
            typeof event.center != "undefined" &&
            typeof event.center.geo != "undefined"
        )
        .map(
          event =>
            new Feature({
              geometry: new Point(
                fromLonLat([event.center.geo[0], event.center.geo[1]])
              ),
              name: event.name,
              markerUrl: getMarkerIcon(event),
              _id: event._id
            })
        );
      this.eventSource.addFeatures(features);
    }
  },
  methods: {
    serializeFeature(feature) {
      this.featurePosition = toLonLat(feature.getGeometry().getCoordinates());
      var format = new WKT();
      this.featureWkt = format.writeFeature(feature, {
        featureProjection: "EPSG:3857",
        dataProjection: "EPSG:4326"
      });
    },
    parseLayersFromConfig() {
      this.globalStore.layers.forEach(layerDescription => {
        if (
          this.map
            .getLayers()
            .getArray()
            .filter(l => l.get("title") == layerDescription.name).length == 0
        ) {
          let layer = this.createLayer(layerDescription);
          this.map.addLayer(layer);
        }
      });
    },
    createLayer(desc) {
      if (desc.layerType == "ImageLayer")
        return new ImageLayer({
          source: this.createSource(desc)
        });
    },
    createSource(desc) {
      var params = {};
      if (desc.params && desc.params != "") params = JSON.parse(desc.params);
      if (desc.sourceType == "ArcGIS REST")
        return new ImageArcGISRest({
          crossOrigin: true,
          params: {},
          url: desc.url
        });
    },
    createMap() {
      this.eventSource = new VectorSource();
      var vectorLayer = new VectorLayer({
        source: this.eventSource,
        style: function(feature) {
          return new Style({
            image: new Icon(
              /** @type {module:ol/style/Icon~Options} */ ({
                anchor: [0.5, 32],
                anchorXUnits: "fraction",
                anchorYUnits: "pixels",
                src: feature.get("markerUrl")
              })
            )
          });
        }
      });

      this.selectSingleClick = new Select();

      this.map = new Map({
        target: "mainmap",
        layers: [
          new TileLayer({
            source: new OSM(),
            visible: false
          }),
          new TileLayer({
            visible: true,
            preload: Infinity,
            source: new BingMaps({
              key:
                "ArYaVVB29h5RL_G1TJqkj5pNVh5pINVUBqvQp7WwOMWjIKM0OMHm8oK80vY5PrAw",
              imagerySet: "AerialWithLabels"
            })
          })
        ],
        view: new View({
          center: fromLonLat([37, 0]),
          zoom: 5
        })
      });

      this.parseLayersFromConfig();
      this.map.addLayer(vectorLayer);
      this.drawManager = new DrawManager(
        this.map,
        /*onDraw*/ e => {
          this.serializeFeature(e.feature);
          this.editVisible = true;
          this.makeScreenshot();
        },
        /*onModify*/ e => {
          this.serializeFeature(e.features.item(0));
        }
      );
      this.map.addInteraction(this.selectSingleClick);
      this.selectSingleClick.on("select", e => {
        let feature = e.selected[0];
        if (feature && feature.get("_id")) {
          this.$emit("markerClicked", { _id: feature.get("_id") });
        }
      });

      var me = this;

      this.map.getView().on("change", () => {
        me.makeScreenshot();
      });
      setTimeout(() => this.map.updateSize(), 1);
    },
    startEdit() {
      this.drawManager.startEdit();
    },
    stopEdit() {
      this.editVisible = false;
      this.drawManager.stopEdit();
    },
    drawActive() {
      return this.drawManager.drawActive;
    },
    makeScreenshot() {
      var me = this;
      this.map.once("rendercomplete", event => {
        var canvas = event.context.canvas;
        EventBus.$emit(
          "map-thumbnail-generated",
          canvas.toDataURL("image/jpeg")
        );
      });
      this.map.renderSync();
    },
    updateMapSize() {
      if (this.map) this.map.updateSize();
    },
    getMapId() {
      return "mainmap";
    },
    change() {
      this.$emit("change");
    }
  },
  mounted() {
    this.createMap();
    EventBus.$on("config-changed", globalStore => {
      this.globalStore = globalStore;
      this.parseLayersFromConfig();
    });
  }
};
</script>

<style>
.map {
  width: 100%;
  height: 450px;
}
</style>
