<template>
  <div>
    <div :id="getMapId()" class="map"></div>
  </div>
</template>

<script>
import "ol/ol.css";
import { Map, View } from "ol";
import TileLayer from "ol/layer/Tile";
import OSM from "ol/source/OSM";
import {fromLonLat} from 'ol/proj.js';
export default {
  name: "ObservationMap",
  props: {
    observation: Object
  },
  data: () => {
    return {};
  },
  methods: {
    createMap() {
      const map = new Map({
        target: "map" + this.observation._id,
        layers: [
          new TileLayer({
            source: new OSM()
          })         
        ],
        view: new View({
          center:  fromLonLat(this.observation.center.geo),
          zoom: 10
        })
      });
    },
    getMapId(){
      return 'map' + this.observation._id;
    }
  },
  mounted() {
    this.createMap();
  }
};
</script>

<style>
.map {
  width: 100%;
  height: 250px;
}
</style>
