#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

a.btn-link-facebook {
    color: #fff!important;
    background-color: #3d65a6;
    border: 1px solid transparent;
    display: block;
    position: relative;
}

#flash-messages{
    position: fixed;
    margin: 5px;
}