<template>
  <v-app id="app">
    <v-navigation-drawer app v-model="drawer" fixed :mini-variant.sync="mini">
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar tag="div">
            <v-btn v-if="!authorized" block color="primary" to="/signin">Sign in</v-btn>
            <v-list-tile-avatar v-if="avatarimage != null">
              <img :src="encodeURI(avatarimage)" alt :title="user.name.first +' '+ user.name.last">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>
                <span v-if="authorized">{{user.name.first}} {{user.name.last}}</span>
              </v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.native.stop="mini = !mini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title" :to="item.to">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-bottom-nav :value="true" absolute class="transparent">
          <v-btn flat href="/keystone" title="Administrative interface">
            <v-icon>build</v-icon>
          </v-btn>
          <v-btn flat @click="signout()" v-if="authorized" title="Sign Out">
            <v-icon>exit_to_app</v-icon>
          </v-btn>
        </v-bottom-nav>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app class="teal darken-2" dark fixed>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{title}}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
import "vuetify/dist/vuetify.min.css";
import axios from "axios";
import { EventBus, globalStore } from "./main";

export default {
  name: "App",
  data: () => {
    let tmp = {
      drawer: null,
      avatarimage: null,
      user: {
        name: {
          first: null,
          last: null
        }
      },
      authorized: false,
      mini: false,
      items: [
        { icon: "home", title: "Home", to: "/" },
        { icon: "show_chart", title: "Events", to: "/observations" },
        { icon: "contact_support", title: "About", to: "/about" }
      ],
      title: "GroundTruth"
    };
    return tmp;
  },
  methods: {
    signout() {
      axios
        .get("/api/auth/signout")
        .then(response => {
          if (response.data.result === true) {
            EventBus.$emit("authorization-changed", { result: false });
          }
        })
        .catch(error => false);
    },
    getConfig() {
      var me = this;
      axios
        .get("/api/config/list")
        .then(response => {
          let siteConfig = response.data.siteConfig;
          me.title = siteConfig.title;
          me.items.filter(item => item.to == "/observations")[0].title =
          siteConfig.observations_name;
          globalStore.user = response.data.user;
          globalStore.siteConfig = siteConfig;
          globalStore.observationTypes = response.data.observationTypes;
          globalStore.layers = response.data.layers;
          EventBus.$emit("config-changed", globalStore);
        })
        .catch(error => false);
    }
  },
  created() {
    this.getConfig();
  },
  mounted() {
    axios
      .get("/api/auth/authorized")
      .then(response => {
        if (response.data.result === true) {
          EventBus.$emit("authorization-changed", response.data);
        }
      })
      .catch(error => false);

    EventBus.$on("authorization-changed", state => {
      this.authorized = state.result;
      if (!this.authorized) {
        this.avatarimage = null;
        this.user = {};
      } else {
        globalStore.user = this.user = state.user;
      }
    });
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
